<div class="card" style="margin-left: 250px;margin-right: 250px;background-color: rgb(134, 209, 157);border-color: rgb(4, 58, 7);border-width: 3px;">
    <div class="card-body" style="text-decoration: line-through;color: rgb(17, 87, 40);font-size: 20px;">
       <img src="assets/bullet_green.png" style="width: 40px;">&nbsp;&nbsp;&nbsp; {{ task.name }} 
       <div style="float: right;">
           <!-- <img src="assets/pocket icon.png" style="width: 25px; float: right;background-color:rgb(43, 131, 73) ;"> -->
           <!-- <button style="background-color:rgb(134, 209, 157);border: 0px;"><span>&#8942;</span></button> -->
           <button style="background-color:rgb(134, 209, 157);border: 0px;"><img src="assets/dots icon.png" width="15px"></button>
        </div>
    </div>
  </div>
  <br>
