*{
    box-sizing: border-box;
    color: white;
    font-family:  Arial, sans-serif;
}
nav{
    display:inline-block;
    background-color: rgb(33, 57, 80);
    width: 30%;
    max-width: 200px;
    height:100vh;
    border:6px solid dimgray;
    border-radius: 10px;
    position:relative;
    top:0;
}
ul{
    list-style: none;   

}
li{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    cursor: pointer;
    font-size: 25px;
}
.title{
    padding: 0.5em 0.5em;
    font-size: 29px;
    background-color:orange;
    border-bottom:6px solid dimgray;
}
.account{
    padding: 0.5em 0.5em;
    cursor: pointer;
    border-top:6px solid dimgray;
    height: 7.6vh;
    font-size: 20px;
    background-color: lightseagreen;
    position: absolute;
    bottom:0;
    width: 100%;   
}
li:hover{
    border: 3px solid cadetblue;
}

a{
    text-decoration: none;
}

.icon{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.icon2{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;    
}