<nav>
    <div class="title">
        To-Do
    </div>
    <ul>
        <li> <a routerLink="" routerLinkActive="activ" [routerLinkActiveOptions]='{exact:true}'>Dashboard</a></li>
        <li><a routerLink="tasks" routerLinkActive="activ">Tasks</a></li>
        <li><a routerLink="reminders" routerLinkActive="activ">Reminders</a></li>
        <li><a routerLink="mypocket" routerLinkActive="activ">My Pocket</a></li>
        <li><a routerLink="categories" routerLinkActive="activ">Categories</a></li>
        <li><a routerLink="archive" routerLinkActive="activ">Archive</a></li>
        <li><a routerLink="trash" routerLinkActive="activ">Trash</a></li>
    </ul>

    <div class="account">
        User Name
    </div>

</nav>
