`<nav>
    <div class="title">
        <img src="assets/toDoLogo.png" alt="to do logo" >
        Tasks Manager
    </div>
    <div class="navContents">
        <a routerLink="" routerLinkActive="activ" [routerLinkActiveOptions]='{exact:true}'><li><img src="assets/dashboard icon.png" class="icon">Dashboard</li></a>
        <a routerLink="tasks" routerLinkActive="activ"><li><img src="assets/tasks icon.png" class="icon2">Tasks</li></a>
        <a routerLink="reminders" routerLinkActive="active"><li><img src="assets/reminders icon.png" class="icon2">Reminders</li></a>
        <a routerLink="mypocket" routerLinkActive="active"> <li><img src="assets/pocket icon.png" class="icon">My Pocket</li></a>
        <a routerLink="categories" routerLinkActive="active"><li><img src="assets/category icon.png" class="icon">Categories</li></a>
        <a routerLink="archive" routerLinkActive="active"><li><img src="assets/archive icon.png" class="icon">Archive</li></a>
        <a routerLink="trash" routerLinkActive="active"><li><img src="assets/trash icon 4.png" class="icon">Trash</li></a>
    </div>
    

    <a routerLink="login" routerLinkActive="active">
        <div class="login">
            <img src="assets/user logo 2.png" class="icon"> Login 
        </div>
    </a>
    <a routerLink="register" routerLinkActive="active">
        <div class="register">
            <img src="assets/user logo 2.png" class="icon"> Sign Up 
        </div>
    </a>

</nav>