<body>
    <div class="search">
        <div class="bar">
            <img src="assets/500px-Search_Icon.svg.png">
            <input type="text" placeholder="Search Trash">
        </div>
    </div>
    <br><br>
    <div class="card" style="border-radius: 5px;margin: 20px 20px;">
        <div class="card-body" style="padding-left: 100px;background-color: rgb(241, 219, 219);color: rgb(160, 37, 37);font-size: 28px;">
           <img src="assets/trash icon 4.png" alt="" style="background-color:rgb(238, 212, 212);width:25px;">&nbsp;&nbsp; Trash
        </div>
      </div>
      <br><br><br>

  <app-trash-task></app-trash-task>
  <app-trash-task></app-trash-task>
  <app-trash-task></app-trash-task>
  <app-trash-task></app-trash-task>
  <app-trash-task></app-trash-task>
</body>



