
<app-search></app-search>

<br><br>
<div class="card" style="border-radius: 8px;margin: 20px 20px;">
    <div class="card-body" style="border-radius: 8px;padding-left: 100px;background-color: rgb(216, 214, 214);color: rgb(0, 0, 0);font-size: 28px;">
       <img src="assets/reminders icon.png" alt="" style="background-color:rgb(216, 216, 216);width:25px;">&nbsp;&nbsp; Today
    </div>
  </div>
  <br><br><br>

  <div class="card" style="margin-right: 250px;margin-left: 250px; border-radius: 8px;">
    <div class="card-body" style="font-size:30px;border-radius: 8px;background-color: rgb(241, 215, 180);border: 3px solid #EFC02F;">
      <span id="leftnote">..</span>
     <input type="checkbox" style="width: 20px;height: 20px;" id="check">
      &nbsp;&nbsp;Task Name
      &nbsp;&nbsp;
      <button role="button" type="button" class="btn" data-toggle="dropdown" style="border-radius: 30px;background-color: lightblue;opacity: 0.7;border:1px solid blue;"> 
        Category Name
      </button>
      &nbsp;&nbsp;
      <button role="button" type="button" class="btn" data-toggle="dropdown" style="border-radius: 30px;background-color: lightblue;opacity: 0.7;border:1px solid blue;"> 
        <img src="assets/reminders icon.png" alt="" style="background-color:lightblue;width:25px;"> &nbsp;&nbsp;Today
      </button>


    </div>
  </div>

  <br><br>

<div class="card1">
  <img class="card1IMG" src="assets/clock.jpg">
  <div class="noincard">5</div>
  <div class="txtincard">Reminders</div>
</div>
<div class="card2">
  <img class="card1IMG" src="assets/Trophy icon.png">
  <div class="noincard">7</div>
  <div class="txtincard">My Pocket</div>
</div>
<div class="card3">
  <img class="card1IMG" src="assets/trash icon 5.png">
  <div class="noincard">10</div>
  <div class="txtincard">Trash</div>
</div>
<div class="card4">
  <img class="card1IMG" src="assets/task image.png">
  <div class="noincard">17</div>
  <div class="txtincard">Tasks</div>
</div>