



<div class="card" style="border-radius: 8px;margin: 20px 20px;">
    <div class="card-body" style="border-radius: 8px;padding-left: 100px;background-color: rgb(216, 214, 214);color: rgb(0, 0, 0);font-size: 28px;">
       <img src="assets/reminders icon.png" alt="" style="background-color:rgb(216, 216, 216);width:25px;">&nbsp;&nbsp; Dashboard
    </div>
  </div>
  

 

<section class="content">

  <section class="cards">
    <section class="top">
      <div class="card" id="card2">
        <div class="picandnum">
          <img class="card1IMG" src="assets/Trophy icon.png">
          <div class="noincard">{{ pocket }}</div>

        </div>
        <div class="txtincard">My Pocket</div>
      </div>
    </section>

    <section class="bottom">

      <div class="card" id="card3">
        <div class="picandnum">
          <img class="card1IMG" src="assets/trash icon 5.png">
          <div class="noincard">{{ trash }}</div>
        </div>
        <div class="txtincard">Trash</div>
      </div>
      <div class="card" id="card4">
        <div class="picandnum">
          <img class="card1IMG" src="assets/task image.png">
          <div class="noincard">{{ tasks }}</div>

        </div>
        <div class="txtincard">Tasks</div>
      </div>
    </section>
  
  </section>
</section>