<br>
<app-search></app-search>

<br><br>
<div class="card" style="border-radius: 8px;margin: 20px 20px;">
    <div class="card-body" style="border-radius: 8px;padding-left: 100px;background-color: rgb(216, 214, 214);color: rgb(0, 0, 0);font-size: 28px;">
       <img src="assets/reminders icon.png" alt="" style="background-color:rgb(216, 216, 216);width:25px;">&nbsp;&nbsp; Today
    </div>
  </div>
  <br><br><br>

  <div class="card" style="margin-right: 250px;margin-left: 250px; border-radius: 8px;">
    <div class="card-body" style="font-size:30px;border-radius: 8px;background-color: rgb(241, 215, 180);border: 3px solid #EFC02F;">
      <span id="leftnote">..</span>
     <input type="checkbox" style="width: 20px;height: 20px;" id="check">
      &nbsp;&nbsp;Task Name
      &nbsp;&nbsp;
      <button role="button" type="button" class="btn" data-toggle="dropdown" style="border-radius: 30px;background-color: lightblue;opacity: 0.7;border:1px solid blue;"> 
        Category Name
      </button>
      &nbsp;&nbsp;
      <button role="button" type="button" class="btn" data-toggle="dropdown" style="border-radius: 30px;background-color: lightblue;opacity: 0.7;border:1px solid blue;"> 
        <img src="assets/reminders icon.png" alt="" style="background-color:lightblue;width:25px;"> &nbsp;&nbsp;Today
      </button>


    </div>
  </div>

  <br><br>
<div class="container">
  <div class="card" style="width: 18rem;background-color:rgb(255, 247, 204) ;">
    <img src="assets/clock.jpg" class="card-img-top" style="width: 60%;float:left">
    
      <p class="card-text" style="display: inline-block;position:relative; left: 60%;bottom:130px;font-size: 80px;font-weight: 700;color:#EFC02F ; ">5</p>
      <p style="font-weight: 500;font-size: 40px;color:#EFC02F ;position: relative;bottom: 100px;left: 50px;">Reminders</p>
    
  </div>
</div>
&nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
<div class="card" style="width: 18rem;background-color:rgb(134, 209, 157) ;position: relative;left: 36%;bottom: 410px;">
    <img src="assets/Trophy icon.png" class="card-img-top" style="width: 60%;float:left">
    
      <p class="card-text" style="display: inline-block;position:relative; left: 60%;bottom:130px;font-size: 80px;font-weight: 700;color:rgb(17, 87, 40) ; ">30</p>
      <p style="font-weight: 500;font-size: 40px;color:rgb(17, 87, 40) ;position: relative;bottom: 100px;left: 50px;">Pocket</p>
    
  </div>
  
  <div class="card" style="width: 18rem;background-color:rgb(178, 180, 178) ;position: relative;left: 17.8%;bottom: 380px;">
    <img src="assets/task image.png" class="card-img-top" style="width: 60%;float:left">
    
      <p class="card-text" style="display: inline-block;position:relative; left: 60%;bottom:130px;font-size: 80px;font-weight: 700;color:rgb(65, 65, 65) ; ">12</p>
      <p style="font-weight: 500;font-size: 40px;color:rgb(58, 58, 58) ;position: relative;bottom: 100px;left: 90px;">Task</p>
    
  </div>

  <div class="card" style="width: 18rem;background-color:lightblue ;position: relative;left: 36%;bottom: 765px;">
    <img src="assets/archive dash.png" class="card-img-top" style="width: 60%;float:left">
    
      <p class="card-text" style="display: inline-block;position:relative; left: 60%;bottom:130px;font-size: 80px;font-weight: 700;color:rgb(32, 21, 92) ; ">3</p>
      <p style="font-weight: 500;font-size: 40px;color:rgb(44, 12, 134) ;position: relative;bottom: 100px;left: 90px;">Archive</p>
    
  </div>

