.content{
    display: flex;
    justify-content: center;
}
.cards{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.top{
    display: flex;
    justify-content: center;
    width: 100%;
}
.bottom{
    display: flex;
    justify-content: center;
    width: 100%;
}
.card{
    margin: 2em;
    padding:3em;
    min-width: 300px;
    border: none;
    color: black;
}
.picandnum{
    display: flex;
    flex-direction: row;
}
#card1{
    background-color: rgba(255, 166, 0, 0.692);
}
#card2{
    background-color: rgba(105, 192, 122, 0.753);
}
#card3{
    background-color: rgba(244, 96, 96, 0.774);
}
#card4{
    background-color: rgba(155, 207, 241, 0.692);
    
}

.card1IMG{
    width: 100px;
}
.noincard{
    padding-left: 1.5rem;
    display: inline-block;
    font-size: 80px;
}

.txtincard{
    font-size: 40px;
    width:100%;
    text-align: center;
}