.c{
    margin: 30px auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    font-size: 25px;
    font-weight: 200;
    border: 1px solid black;
    border-radius: 4px;
    height: 60px;

}
.square{
    background-color: white;
    border: 1px solid black;
    width: 15px;
    height: 15px;
}
.c img{
    height: 30px;
}
.full-menu{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.menu{
    display: flex;
    align-items: center;
    background-color: rgb(184, 185, 202);
    height: 60px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.content{
    margin:0 28px;
    display: flex;
    align-items: center;
    width:50%;
}
.txt{
    margin: 0 20px;
}