*{
    font-family: sans-serif;
}
body{
    border:none;
    margin: 10px;
    background-color: white;
}

h2{
    background-color: rgba(179, 222, 236, 0.507);
    font-weight: 200;
    padding-left: 30px;
    margin: 40px 50px;
}
.content{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}
app-tasks-main{
    width: 70%;
    
}
.create{
    border: dashed 4px rgb(184, 178, 178);
    color:rgb(184, 178, 178);
    width: 70%;
    height:60px;
    padding-left: 20px;
    font-size: 25px;
    position: relative;
}
.create .first{
    height: 30px;
    position:absolute;
    top: 15px;
}
.create .text{
    border:none;
    height:100%;
    padding-left: 30px;
}
.create .second{
    height: 30px;
    position:absolute;
    top: 15px;
    left: 250px;
}
.create:hover{
    cursor: pointer;
}
