*{
    font-family: sans-serif;
}
body{
    border:none;
    margin: 10px;
    background-color: white;
}
.search{
    display: flex;
    justify-content: center;
    background-color: white;
}
.bar{
    background-color:rgba(167, 167, 247, 0.411);
    height: 30px;
    display: flex;
    width: 60%;
    justify-content: center;
    border: 1px solid blue;
}
.bar img {
    height:30px;
}
input{    
    border: none;
    background-color: rgba(255, 255, 255, 0);
    height:30px;
    padding-left:15px;   
}
h2{
    background-color: rgba(179, 222, 236, 0.507);
    font-weight: 200;
    padding-left: 30px;
    margin: 40px 50px;
}
.content{
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    
}
.create{
    border: dashed 4px rgb(184, 178, 178);
    color:rgb(184, 178, 178);
    width: 70%;
    height:50px;
    padding-left: 20px;
    line-height: 50px;
}
.create:hover{
    cursor: pointer;
}
