<body>

  
      
      <div class="card" style="border-radius: 8px;margin: 20px 20px;">
          <div class="card-body" style="border-radius: 8px;padding-left: 100px;background-color: rgb(212, 208, 208);color: rgb(44, 133, 56);font-size: 28px;">
             <img src="assets/pocket icon.png" alt="" style="background-color:rgb(62, 129, 77);width:25px;">&nbsp;&nbsp; My Pocket
          </div>
        </div>
        <br><br><br>
  
        <app-pocket-task *ngFor="let completed of completedTasks" [task]="completed"></app-pocket-task>  
         
        
</body>
  

