<body>
    <div class="search">
        <div class="bar">
            <img src="assets/500px-Search_Icon.svg.png">
            <input type="text" placeholder="Search Tasks">
        </div>
    </div>
    <br><br>
    <div class="card" style="border-radius: 5px;margin: 20px 20px;">
        <div class="card-body" style="padding-left: 100px;background-color: rgb(248, 246, 246);color: rgb(44, 133, 56);font-size: 28px;">
           <img src="assets/pocket icon.png" alt="" style="background-color:rgb(62, 129, 77);width:25px;">&nbsp;&nbsp; My Pocket
        </div>
      </div>
      <br><br><br>

      <app-pocket-task></app-pocket-task>  
      <app-pocket-task></app-pocket-task>  
      <app-pocket-task></app-pocket-task>  
      <app-pocket-task></app-pocket-task>  
      <app-pocket-task></app-pocket-task>  
      
  
</body>
